*{
    margin: 0px;
}
.logo{
}
.header li{
    display: inline;
    float: right;
}
.navbar li{
    display: inline-block;
    float: left;
    border: 1px solid white;
    padding: 20px;
}
.navbar a{
    text-decoration: none;
    color: black;
}