.borderpagina{
    border-style: solid;
    border-color: #d1d2d3;
    border-radius: 1%;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
.betaalbutton{
    text-decoration: none;
    border-style: solid;
    border-radius: 8%;
    background: #18b703;
    border-color: #18b703;
    color: #FFFFFF;
    padding: 4px;
    font-weight: bold;
}
.disabled{
    opacity: 0.6;
    cursor: not-allowed;
}
.deletebutton{
    text-decoration: none;
    font-weight: bold;
    border-style: solid;
    border-radius: 8%;
    background: red;
    border-color: red;
    color: #FFFFFF;
    padding: 4px;
}
.zoekenproduct{
    border-bottom: solid;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-color: #d1d2d3;
    border-width: 2px;
}
.naamproduct{
    text-decoration: none;
    color: #00AEEF;
    float: left;
    font-size: 22px;
}
.prijsproduct{
    float: right;
    font-size: 24px;
    margin-right: 25%;
}
.voorraadproduct{
    font-size: 16px;
}
/*.image-placeholder {
    background-color: #eee;
    display: flex;
    height: 180px;
    margin: 5px;
    width: 260px;
    float: left;
    margin-left: 10%;
}
.image-placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}*/
.productgegevens{
    margin-top: 0px;
}
.gegevenszonderafbeeling{
    margin-left: 350px;
    padding-top: 80px;
}
.productnaam{
    font-size: 30px;
    float: left;
    margin-top: 10px;
}
.productleverancier{
    text-decoration: none;
    color: black;
}
.productprijs{
    font-size: 32px;
    color: #00AEEF;
    padding-left: 30px;
    left: 70%;
    padding-top: 50px;
    position: absolute;
}
.productopvoorraad{
    margin-top: 60px;
}
.productnietvoorraad{
    margin-top: 60px;
}
.formaantal{
    margin-top: 10px;
}
.productgegevens a{
    text-decoration: none;
    color: black;
}
.toevoegenbutton{
    text-decoration: none;
    border-style: solid;
    border-radius: 8%;
    background: #18b703;
    border-color: #18b703;
    color: #FFFFFF;
    padding: 4px;
    margin-left: 10px;
    font-weight: bold;
}
.opslaanbutton{
    border-style: solid;
    border-radius: 8%;
    color: #00AEEF;
    border-color: #00AEEF;
    background-color: #FFFFFF;
    padding: 4px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}
.tabel{
    table-layout: auto;
    width: 100%;
}
/*footer{
    padding-top: 220px;
    margin: auto;
    border-top: solid;
    border-color: #d1d2d3;
    border-width: 2px;
}
footer a{
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-left: 8%;
    padding-right: 8%;
}*/

.service{
    padding-left: 25%;
}

.gridtextsub {
    color: white;
}
            * 
            
            .slider{
                float: left;
                margin-top: -250px;
                padding-left: 60px;
            }

            /* Slideshow container */
            .slideshow-container {
              max-width: 225px;
              position: relative;
              margin: auto;
            }
            
            /* Next & previous buttons */
            .prev, .next {
              cursor: pointer;
              position: absolute;
              top: 50%;
              width: auto;
              padding: 16px;
              margin-top: -22px;
              color: white;
              font-weight: bold;
              font-size: 18px;
              transition: 0.6s ease;
              border-radius: 0 3px 3px 0;
              user-select: none;
            }

            /* Position the "next button" to the right */
            .next {
              right: 0;
              border-radius: 3px 0 0 3px;
            }


            /* On hover, add a black background color with a little bit see-through */
            .prev:hover, .next:hover {
              background-color: rgba(0,0,0,0.8);
            }

            /* The dots/bullets/indicators */
            .dot {
              cursor: pointer;
              height: 15px;
              width: 15px;
              margin: 0 2px;
              background-color: #bbb;
              border-radius: 50%;
              display: inline-block;
              transition: background-color 0.6s ease;
            }

            .active, .dot:hover {
              background-color: #717171;
            }

            /* Fading animation */
            .fade {
              -webkit-animation-name: fade;
              -webkit-animation-duration: 1.5s;
              animation-name: fade;
              animation-duration: 1.5s;
            }

            @-webkit-keyframes fade {
              from {opacity: .4} 
              to {opacity: 1}
            }

            @keyframes fade {
              from {opacity: .4} 
              to {opacity: 1}
            }

            /* On smaller screens, decrease text size */
            @media only screen and (max-width: 300px) {
              .prev, .next,.text {font-size: 11px}
            }

.productopvoorraad{
    color: green;
}
.productnietvoorraad{
    color: red;
}

.drop{
    padding-top: 160px;
    padding-left: 350px;
    top: 120px;
    position: fixed;
}
